.a {
    background-color: #1313cc;
    text-align: center;
    padding: 2px;
    margin: 6px;
}

ul {
    list-style-type: none;
    margin: 6px;
    overflow: hidden;
    background: rgb(156, 154, 154);
    padding: 8px;
    margin-left: 250px;
}

th {
    background: gray
}

caption {
    border: solid 3px;
    color: rgb(39, 39, 88);
    background: rgb(156, 154, 154);
    padding: 8px;
    margin: 6px;
    margin-left: 2px;
}

td {
    text-align: center;
}

img {
    border: solid 4px;
    color: rgb(100, 40, 156);
    width: 350px;
    margin: 4px;
    margin-left: 450px;
}