.a {
    background: #415ab0;
    text-align: center;
    padding: 2px;
    margin: 6px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 3px;
    background: #CFDADA;
    margin-left: 250px;
}

th {
    background: #CFDADA
}

caption {
    border: solid 3px;
    color: #415ab0;
    background: #CFDADA padding: 8px;
    margin: 6px;
    margin-left: 2px;
}

td {
    text-align: center;
}

img {
    border: solid 4px;
    color: #415ab0;
    width: 350px;
    margin: 4px;
    margin-left: 450px;
}